div h1{
  margin: 15px 0px 15px 0px;
  color: black
}
p{
  margin: 0px 0px 0px 20px;
  color: blue;
  font-size: 14pt
}
#fetchUser{
  margin-top: 20px;
  margin-bottom: 13px;
}
#fetchUser text{
  margin-left: 15px;
}
input{
  margin-left: 5px;
  margin-bottom: 20px;
}
button{
  margin-left: 20px;
  margin-right: 20px;
}
#header{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 28pt
}
#accounts li {
  margin: 10px 0px 0px -20px;
  display: table;
  color: blue;
}
#email p{
  font-style: italic;
}
#location p{
  font-weight: bold;
}
